
*{
	font-family:Arial, sans-serif;
}

.d_div{
	padding: 5px;
    border-radius:5px;
    border: 1px solid gray;
    -webkit-box-shadow: 0 0.1em 0 rgb(0 0 0 / 30%);
    -moz-box-shadow: 0 .1em 0 rgba(0,0,0,.3);
    box-shadow: 0 0.1em 0 rgb(0 0 0 / 30%);
   }


.d_element{}

.d_panel{
	
	padding: 5px;
    border-radius:5px;
    border: 1px solid gray !important;
    -webkit-box-shadow: 0 0.2em 0 rgb(0 0 0 / 30%);
    -moz-box-shadow: 0 .2em 0 rgba(0,0,0,.3);
    box-shadow: 0 0.2em 0 rgb(0 0 0 / 30%);
   
}


.d_field{
	padding: 20px;
	-webkit-box-shadow: 0 0.1em 0 rgb(0 0 0 / 30%);
    -moz-box-shadow: 0 .1em 0 rgba(0,0,0,.3);
    box-shadow: 0 0.1em 0 rgb(0 0 0 / 30%);
}

.d_header{
	-webkit-box-shadow: 0px 20px 20px -17px rgba(0, 111, 255, 0.53);
    -moz-box-shadow: 0px 20px 20px -17px rgba(0, 111, 255, 0.53);
	box-shadow: 0px 20px 20px -17px rgba(0, 111, 255, 0.53);
}

.d_instructions{
	font-weight:bold;
}

.d_stem{
	font-weight:bold;
}

.d_distractor{
	
	text-align: left;
    padding: 5px;
    border-radius:5px;
    border: 1px solid black;
    font-weight: 400;
    -webkit-box-shadow: 0 0.1em 0 rgb(0 0 0 / 30%);
    -moz-box-shadow: 0 .1em 0 rgba(0,0,0,.3);
    box-shadow: 0 0.1em 0 rgb(0 0 0 / 30%);
    line-height: 1.5em;
	text-indent: 10px;
}


.d_button{
	font-size: 1em;
    line-height: 1.2;
    margin: 0 .5em 1em;
    padding: .5em 1.25em;
	border: 1px black solid;
    border-radius: 2em;
    cursor: pointer;
    border: none;
    box-shadow: none;
    -webkit-transform: translateZ(0);
    display: inline-block;
    text-align: center;
    text-shadow: none;
    text-decoration: none;
    vertical-align: baseline;
}
.d_button:enabled:hover{
	background-color: green !important;
	color:white;
}

.d_image{
	border-radius:5px;
    border: 2px solid gray;
    font-weight: 400;
    -webkit-box-shadow: 0 0.1em 0 rgb(0 0 0 / 30%);
    -moz-box-shadow: 0 .1em 0 rgba(0,0,0,.3);
    box-shadow: 0 0.1em 0 rgb(0 0 0 / 30%);
	
}

.WidgetPage {
    background-color: #808080;
  }