/* ==========================================================================
   Troy
   ========================================================================== */
.troy-monday {
    top: 413px;
    left: 86px;
    height: 140px;
}


/* ==========================================================================
   Steph
   ========================================================================== */

.steph-tuesday {
    top: 229px;
    left: 289px;
    height: 145px;
}

.steph-wednesday {
    top: 413px;
    left: 492px;
    height: 140px;
}

.steph-thursday {
    top: 128px;
    left: 695px;
    height: 135px;
}



/* ==========================================================================
   Bill
   ========================================================================== */

.bill-wednesday {
    top: 229px;
    left: 498px;
    height: 145px;
}

.bill-thursday-1 {
    top: 128px;
    left: 701px;
    height: 135px;
}

.bill-thursday-2 {
    top: 413px;
    left: 701px;
    height: 140px;
}



/* ==========================================================================
   Kjrsten
   ========================================================================== */

.kjrsten-monday-1 {
    top: 90px;
    left: 86px;
    height: 135px;
}

.kjrsten-monday-2 {
    display: none;
    top: 224px;
    left: 86px;
    height: 40px;
}

.kjrsten-monday-3 {
    top: 413px;
    left: 86px;
    height: 140px;
}

.kjrsten-tuesday {
    top: 413px;
    left: 289px;
    height: 140px;
}

.kjrsten-thursday-1 {
    top: 128px;
    left: 707px;
    height: 135px;
}

.kjrsten-thursday-2 {
    display: none;
    top: 262px;
    left: 707px;
    height: 40px;
}

/* ==========================================================================
   Will
   ========================================================================== */

.will-monday-1 {
    top: 229px;
    left: 92px;
    height: 145px;
}

.will-monday-2 {
    top: 413px;
    left: 92px;
    height: 140px;
}

.will-tuesday {
    top: 90px;
    left: 289px;
    height: 135px;
}

.will-wednesday-1 {
    top: 229px;
    left: 504px;
    height: 145px;
}

.will-wednesday-2 {
    top: 413px;
    left: 498px;
    height: 140px;
}

.will-thursday {
    top: 413px;
    left: 707px;
    height: 140px;
}



/* ==========================================================================
   Carl
   ========================================================================== */

.carl-monday-1 {
    top: 229px;
    left: 98px;
    height: 145px;
}

.carl-monday-2 {
    top: 413px;
    left: 98px;
    height: 140px;
}

.carl-tuesday {
    top: 413px;
    left: 295px;
    height: 140px;
}

.carl-wednesday-1 {
    top: 229px;
    left: 510px;
    height: 145px;
}

.carl-wednesday-2 {
    top: 413px;
    left: 504px;
    height: 140px;
}



/* ==========================================================================
   Sam
   ========================================================================== */

.sam-monday-1 {
    top: 229px;
    left: 104px;
    height: 110px;
}

.sam-monday-2 {
    top: 413px;
    left: 104px;
    height: 110px;
}

.sam-tuesday-1 {
    top: 229px;
    left: 295px;
    height: 145px;
}

.sam-tuesday-2 {
    top: 413px;
    left: 301px;
    height: 140px;
}

.sam-wednesday {
    top: 90px;
    left: 498px;
    height: 135px;
}

.sam-thursday {
    top: 413px;
    left: 713px;
    height: 140px;
}

