/* ==========================================================================
   Randy
   ========================================================================== */
.randy-tuesday {
    top: 413px;
    left: 289px;
    height: 107px;
}

.randy-wednesday {
    top: 413px;
    left: 491px;
    height: 107px;
}


/* ==========================================================================
   Steph
   ========================================================================== */

.steph-tuesday {
    top: 90px;
    left: 289px;
    height: 135px;
}

/*.steph-thursday {
    top: 413px;
    left: 695px;
    height: 140px;
}*/



/* ==========================================================================
   Bill
   ========================================================================== */

.bill-wednesday {
    top: 229px;
    left: 491px;
    height: 145px;
}

.bill-thursday {
    top: 129px;
    left: 695px;
    height: 135px;
}
.bill-thursday-2 {
    left: 695px;
    top: 413px;
    height: 140px;
}
.bill-hybrid {
    background: linear-gradient(135deg, #b9e3fb 0%,#ffffff 100%);
}


/* ==========================================================================
   Kjrsten
   ========================================================================== */

.kjrsten-monday-1 {
    top: 90px;
    left: 84px;
    height: 135px;
}

.kjrsten-monday {
    top: 413px;
    left: 86px;
    height: 140px;
}

.kjrsten-tuesday-1 {
    top: 229px;
    left: 289px;
    height: 145px;
}

.kjrsten-tuesday-2 {
    top: 413px;
    left: 289px;
    height: 140px;
}

/*.kjrsten-cewd-thur {
    top: 432px;
    left: 700px;
    height: 109px;
}*/

.kjrsten-thursday {
    top: 413px;
    left: 700px;
    height: 140px;
}


/* ==========================================================================
   Will
   ========================================================================== */

.will-monday-1 {
    top: 229px;
    left: 84px;
    height: 145px;
}

.will-tuesday-1 {
    top: 229px;
    left: 294px;
    height: 145px;
}

.will-tuesday-2 {
    top: 413px;
    left: 294px;
    height: 140px;
}

.will-wednesday-1 {
    top: 229px;
    left: 496px;
    height: 145px;
}

.will-wednesday-2 {
    top: 413px;
    left: 496px;
    height: 140px;
}

.will-thursday {
    top: 129px;
    left: 700px;
    height: 135px;
}



/* ==========================================================================
   Carl
   ========================================================================== */

.carl-monday-1 {
    top: 229px;
    left: 89px;
    height: 145px;
}

.carl-monday-2 {
    top: 413px;
    left: 91px;
    height: 140px;
}

.carl-tuesday {
    top: 413px;
    left: 299px;
    height: 140px;
}

.carl-wednesday-1 {
    top: 229px;
    left: 501px;
    height: 145px;
}

.carl-wednesday-2 {
    top: 413px;
    left: 501px;
    height: 140px;
}

.carl-thursday {
    top: 413px;
    left: 705px;
    height: 140px;
}



/* ==========================================================================
   Sam
   ========================================================================== */

.sam-monday-1 {
    top: 90px;
    left: 89px;
    height: 135px;
}

.sam-monday-2 {
    top: 229px;
    left: 95px;
    height: 145px;
}

.sam-tuesday-1 {
    top: 90px;
    left: 294px;
    height: 135px;
}

.sam-tuesday-2 {
    top: 229px;
    left: 299px;
    height: 145px;
}

.sam-wednesday-1 {
    top: 229px;
    left: 506px;
    height: 110px;
}

.sam-wednesday-2 {
    top: 413px;
    left: 506px;
    height: 140px;
}

.sam-thursday {
    top: 129px;
    left: 705px;
    height: 135px;
}

.sam-hybrid {
    background: linear-gradient(135deg, #eacafb 0%,#ffffff 100%);
}

